{% load static %}

<!doctype html>

<html lang=en>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'pokedex/style.css' %}" type="text/css"/>
        <script type="text/javascript" src="{% static 'pokedex/scripts/computeWeak.js' %}"></script>
        <title>Pokemon Team Creater</title>
        <style>
            body {
                background-color: black;
            }
        </style>
    </head>

    <body>
        <div class="maindiv">
            <h1>Team Builder</h1>
            <h3>Pick Pokemon in your team</h3>
            <div class="outer-picker">
                <div class="center-div">
                    <label>First Pokemon</label>
                    <select id="select0" name="pokemon0">
                        {% for p in pokelist %}
                        <option value={{ p.pokeName }}>{{p.pokeName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="center-div">
                    <label>Second Pokemon</label>
                    <select id="select1" name="pokemon1">
                        {% for p in pokelist %}
                        <option value={{ p.pokeName }}>{{p.pokeName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="center-div">
                    <label>Third Pokemon</label>
                    <select id="select2" name="pokemon2">
                        {% for p in pokelist %}
                        <option value={{ p.pokeName }}>{{p.pokeName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="center-div">
                    <label>Fourth Pokemon</label>
                    <select id="select3" name="pokemon3">
                        {% for p in pokelist %}
                        <option value={{ p.pokeName }}>{{p.pokeName}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="center-div">
                    <label>Fifth Pokemon</label>
                    <select id="select4" name="pokemon4">
                        {% for p in pokelist %}
                        <option value={{ p.pokeName }}>{{ p.pokeName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="center-div">
                    <label>Sixth Pokemon</label>
                    <select id="select5" name="pokemon5">
                        {% for p in pokelist %}
                        <option value={{ p.pokeName }}>{{p.pokeName}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="submit-btn">
                <button id="submit" type="button" onclick="compute(this)">Submit Team!</button>
            </div>
            <div id="result"></div>
        </div>
    </body>
</html>