h1{
    display: flex;
    justify-content: center;
    color: royalblue;
    padding: 30px;
    background-color: rgb(40, 40, 40);
}

h3{
    display: flex;
    justify-content: center;
    color: gold;
    padding: 10px;
    background-color: rgb(20, 20, 20);
}

label{
    color: white;
}

.pokepicker{
    align-content: center;
    padding: 10px;
}

.maindiv{
    position: relative;
    background-color: rgb(70, 70, 70);
}

.center-div{
    background-color: rgb(40, 40, 40);
    margin: 10px auto;
    width: 500px;
    padding: 10px;
    text-align: center;
}

.submit-btn{
    background-color: rgb(20, 20, 20);
    padding: 10px;
    justify-content: center;
}

#submit{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.outer-picker{
    display: flex;
    flex-direction: column;
}

#result{
    color: white;
    text-align: center;
    padding: 20px;
}